* {
    box-sizing: border-box;
}

body {
    font-size: 8px;
}

section.page-break {
    page-break-before: always;
}

h1, h3.sub-heading {
    color: rgb(2, 2, 134);
    margin-bottom: 0px;
    margin-top: 5px;
}

header,
footer {
    background: rgb(1, 139, 139);
    color: white;
    padding: 2px;
}

main {
    padding: 0 30px;
}

label,
span.label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    outline: none;
}

input[type="checkbox"],
input[type="radio"] {
    width: initial;
}

select {
    min-width: 70px;
}

.text-center {
    text-align: center!important;
}

div.form-group {
    border-bottom: 2px solid gray;
}

.input-container {
    padding-top: 15px;
    padding-bottom: 2px;
}

.cols-separator {
    margin-left: 30px;
}

.bottom-line {
    border-bottom: 1px solid gray;
}

.box-unchecked,
.box-checked {
    text-align: center;
    font-weight: bold;
    padding: 0px 7px;
    border: 1px solid black;
}

.box-unchecked {
    padding: 0 10px;
}

.underline {
    border-bottom: 1px solid black;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

div.submit-button {
    display: none;
}

#printPageButton:hover {
    background: rgb(1, 139, 139);
    border: darkcyan solid 2px;
}

#printPageButton {
    float: right;
    padding: 15px 20px;
    margin: 0px 10px;
    background-color: rgb(45, 45, 241);
    color: white;
    font-size: larger;
    outline: dodgerblue;
    border: none;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 25%;
}

.col-9 {
    width: 82%;
}

.col-3 {
    width: 18%;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.col-full {
    width: 100%;
}