* {
    box-sizing: border-box;
}

header, footer {
    background: rgb(1, 139, 139);
    color: white;
    padding: 30px;
}

main {
    padding: 30px;
}

section {
    padding-top: 15px;
    padding-bottom: 15px;
}

label,
span.label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    outline: none;
}

input[type="checkbox"],
input[type="radio"] {
    width: initial;
}

select {
    min-width: 70px;
}

.text-center {
    text-align: center!important;
}

h3.sub-heading {
    color: rgb(2, 2, 134);
}

div.form-group {
    border-bottom: 2px solid gray;
}

.input-container {
    padding-top: 15px;
    padding-bottom: 2px;
}

.cols-separator {
    margin-left: 30px;
}

.bottom-line {
    border-bottom: 1px solid gray;
}

.submit-button {
    position: relative;
    min-height: 55px;
}

#submit:hover,
#printPageButton:hover,
.create-button:hover {
    background: rgb(1, 139, 139);
    margin: 0px 10px;
    border: darkcyan solid 2px;
}

#submit, #printPageButton, .create-button {
    padding: 15px 20px;
    margin: 0px 10px;
    background-color: rgb(45, 45, 241);
    color: white;
    font-size: larger;
    outline: dodgerblue;
    border: none;
}

a.create-button {
    text-decoration: none;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.float-center {
    margin: auto 0 0 40%;
}

.errorlist {
    background-color: red;
    color: white;
    list-style: none;
    padding: 3px;
}

.box-unchecked, .box-checked {
    text-align: center;
    font-weight: bold;
    padding: 0px 10px;
    border: 2px solid black;
}

.box-unchecked {
    padding: 0 16px;
}

.underline {
    border-bottom: 1px solid black;
}


@media screen and (min-width: 600px) {
    .form-group {
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 100%;
    }

    .col-6 {
        width: 50%;
    }
    
    .col-4 {
        width: 25%;
    }

    .col-9 {
        width: 82%;
    }
    
    .col-4 {
        width: 18%;
    }

    .mr-5 {
        margin-right: 5px;
    }

    .ml-5 {
        margin-left: 5px;
    }

    .col-full {
        width: 100%;
    }
}